*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* .main{
    width: 300px;
    height: 300px;
    background-color: aqua;
}
h1{
    color: aqua;
    background-color: black;
} */
/* p{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: red;
}
a{
display: block;
} */
/* #car1{
    width: 100px;
    height: 140px;
    background-color: red;
} */
/* #car2{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 80px;
    height: 120px;
    background-color: aqua;
} */
/* #car3{
    position: absolute;
    width: 105px;
    height: 95px;
    background-color:yellowgreen;
} */
/* #box{
    position: relative;
    width: 500px;
    height: 700px;
    background-color: aqua;
    background: url(https://images.unsplash.com/photo-1713204767450-cf0411357b3a?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right red, yellow);
} */
/* #cube{
    position: absolute;
    left: 40%;
    width: 30px;
    height: 30px;
    background-color: yellow;
} */
/* #box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: red;
}
#one{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
#two{
    width: 100px;
    height: 100px;
    background-color: green;
}
#three{
    width: 100px;
    height: 100px;
    background-color: blue;
} */
/* p{
    width: fit-content;
    position: relative;
    background-color: gold;
}
p::before{
    content: " ";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: aqua;
}
p::after{
    content: ">";
} */

/* h1:hover{
    color:greenyellow;
}
button:active{
    background-color: red;
}
input:focus{
    background-color: aqua;
} */
p:nth-child(3){
    color: blue;
}
