*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 170px;
    gap: 70px;
}
#left{
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    /* background-color: aqua; */
}

#left h1{
    font-size: 145px;
    font-weight: 500;
    line-height: 150px;
}
#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
}
 #color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
    margin: 3px;
    
} 
#color1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
}
#color2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: burlywood;
} 
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}
#left p{
    font-size: 20px;
    width: 60%;
    font-weight: 600;
    color: #444;
    line-height: 30px;
}
#right{
    height: 90%;
    width: 33%;
    /* background-color: greenyellow; */
    position: relative;
}
#right-top{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#right-top h4{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color:rgb(40,40,47) ;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -20%;
    top: 20%;
}
#black-gola h5{
    font-size: 20px;
    font-weight: 500;
}
#rotated{
    position: absolute;
    font-size: 35px;
    left: -10%;
    bottom: 12%;
    rotate: -90deg;
    transform-origin: 0 0;
}